<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Environmental Impact Minimizr - Enterprise</title>
  </head>

  <body>
    <h1>Environmental Impact Minimizr - Enterprise</h1>
    <h2>My SMEs</h2>
    <ul>
      <li><a href="/pages/sme">Dummy Co 1</a> <a>Delete</a></li>
      <li><a href="/pages/sme">Dummy Co 2</a> <a>Delete</a></li>
      <li><a href="/pages/sme">Dummy Co 3</a> <a>Delete</a></li>
      <li><a>Add</a></li>
    </ul>
    <h2>My Decarbonisation Partners</h2>
    <ul>
      <li><a href="/pages/supplier">Dummy Partner 1</a> <a>Delete</a></li>
      <li><a href="/pages/supplier">Dummy Partner 2</a> <a>Delete</a></li>
      <li><a href="/pages/supplier">Dummy Partner 3</a> <a>Delete</a></li>
      <li><a href="/pages/supplier">Dummy Partner 4</a> <a>Delete</a></li>
      <li><a>Add</a></li>
    </ul>
    <h2>Test the Enterprise API</h2>
    <ul>
      <li><a href="/api/enterprise_dashboard">Dashboard API</a></li>
    </ul>
  </body>
</html>
