<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Environmental Impact Minimizr - SME</title>
  </head>

  <body>
    <h1>Environmental Impact Minimizr - SME</h1>
    <h2>My Enterprise Investors</h2>
    <ul>
      <li><a href="/pages/enterprise">Dummy Large Enterprise 1</a> <a>Delete</a></li>
      <li><a href="/pages/enterprise">Dummy Large Enterprise 2</a> <a>Delete</a></li>
      <li><a href="/pages/enterprise">Dummy Large Enterprise 3</a> <a>Delete</a></li>
      <li><a>Add</a></li>
    </ul>
    <h2>My Decarbonisation Partners</h2>
    <ul>
      <li><a href="/pages/supplier">Dummy Partner 1</a> <a>Delete</a></li>
      <li><a href="/pages/supplier">Dummy Partner 2</a> <a>Delete</a></li>
      <li><a>Add</a></li>
    </ul>
    <h2>Test the SME API</h2>
    <ul>
      <li><a href="/api/sme_dashboard">Dashboard API</a></li>
    </ul>
  </body>
</html>
