<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Environmental Impact Minimizr - Decarbonisation Partner</title>
  </head>

  <body>
    <h1>Environmental Impact Minimizr - Decarbonisation Partner</h1>
    <h2>My Enterprise Investors</h2>
    <ul>
      <li><a href="/pages/enterprise">Dummy Large Enterprise 1</a> <a>Delete</a></li>
      <li><a href="/pages/enterprise">Dummy Large Enterprise 2</a> <a>Delete</a></li>
      <li><a href="/pages/enterprise">Dummy Large Enterprise 3</a> <a>Delete</a></li>
      <li><a href="/pages/enterprise">Dummy Large Enterprise 4</a> <a>Delete</a></li>
      <li><a>Add</a></li>
    </ul>
    <h2>My SMEs</h2>
    <ul>
      <li><a href="/pages/sme">Dummy Co 1</a> <a>Delete</a></li>
      <li><a href="/pages/sme">Dummy Co 2</a> <a>Delete</a></li>
      <li><a href="/pages/sme">Dummy Co 3</a> <a>Delete</a></li>
      <li><a href="/pages/sme">Dummy Co 4</a> <a>Delete</a></li>
      <li><a href="/pages/sme">Dummy Co 5</a> <a>Delete</a></li>
      <li><a>Add</a></li>
    </ul>
    <h2>Test the Decarbonisation Partner API</h2>
    <ul>
      <li><a href="/api/supplier_dashboard">Dashboard API</a></li>
    </ul>
  </body>
</html>
